$main-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$light-grey: #f6f6f6;
$dark-grey: #eaeaea;
$night-grey: #353535;
$button-gradient: linear-gradient($main-color, $secondary-color);
$title: "Shrikhand";
$text--bolder: 900;
$shadow: 0px 4px 10px 0px #00000040;
